html body { background: var(--token-7def17df-e10e-42db-9af3-2937cc97e065, rgb(245, 245, 245)); }
@media(min-width: 1200px){.hidden-72rtr7{display:none!important}}
@media(min-width: 799px) and (max-width: 1199.98px){.hidden-1st3fqb{display:none!important}}
@media(min-width: 390px) and (max-width: 798.98px){.hidden-jvbu6e{display:none!important}}
@media(max-width: 389.98px){.hidden-1xxlkqk{display:none!important}}
